hover {
  cursor: pointer;
}

.title {
  color:teal;
}

/*Navigation*/


#cssmenu {
  background: #cde4ea;
  width: auto;
}

#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #333333;
  cursor: pointer;
}

#cssmenu ul li a:active {
  color: #333333;
  cursor: pointer;
}

#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #333333;
}
#cssmenu ul li.active a:before {
  width: 100%;
}

#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
    

  }
  #cssmenu ul li a:before {
    display: none;
  }
}

/* menu 2 */
#cssmenu2 {
  background: #1DA492;
  width: auto;
}

#cssmenu2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu2 ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu2 ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu2.align-right ul li {
  float: right;
}
#cssmenu2.align-center ul {
  text-align: center;
}
#cssmenu2 ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu2 ul li a:hover {
  color: #333333;
  cursor: pointer;
}
#cssmenu2 ul li a:hover:before {
  width: 100%;
}
#cssmenu2 ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu2 ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu2 ul li.last > a:after,
#cssmenu2 ul li:last-child > a:after {
  display: none;
}
#cssmenu2 ul li.active a {
  color: #333333;
}
#cssmenu2 ul li.active a:before {
  width: 100%;
}
#cssmenu2.align-right li.last > a:after,
#cssmenu2.align-right li:last-child > a:after {
  display: block;
}
#cssmenu2.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu2 ul li {
    float: none;
    display: block;
  }
  #cssmenu2 ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #cssmenu2 ul li.last > a,
  #cssmenu2 ul li:last-child > a {
    border: 0;
  }
  #cssmenu2 ul li a:after {
    display: none;
  }
  #cssmenu2 ul li a:before {
    display: none;
  }
}

/* menu 3 */

#cssmenu3 {
  background: #1ea6c3;
  width: auto;
}

#cssmenu3 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu3 ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu3 ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu3.align-right ul li {
  float: right;
}
#cssmenu3.align-center ul {
  text-align: center;
}
#cssmenu3 ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu3 ul li a:hover {
  color: #333333;
  cursor: pointer;
}
#cssmenu3 ul li a:hover:before {
  width: 100%;
}
#cssmenu3 ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu3 ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu3 ul li.last > a:after,
#cssmenu3 ul li:last-child > a:after {
  display: none;
}
#cssmenu3 ul li.active a {
  color: #333333;
}
#cssmenu3 ul li.active a:before {
  width: 100%;
}
#cssmenu3.align-right li.last > a:after,
#cssmenu3.align-right li:last-child > a:after {
  display: block;
}
#cssmenu3.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu3 ul li {
    float: none;
    display: block;
  }
  #cssmenu3 ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #cssmenu3 ul li.last > a,
  #cssmenu3 ul li:last-child > a {
    border: 0;
  }
  #cssmenu3 ul li a:after {
    display: none;
  }
  #cssmenu3 ul li a:before {
    display: none;
  }
}

/*Attempt at a grid*/

* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #EEE;
  max-width: 1200px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
  width: 20%;
}

.grid-item {
  height: 120px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

/*poster*/
.posterImage{
    height: 20em;
    width: 15em;
}

body, ul, li {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ccc;
}

.rt {
  width: 100%;
  display: block;
  float: left;
}

.tooltip {
    position: relative;
    display: inline-block;
    float: left;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 15px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


a.Hulu{
  color:green;
}

a.Netflix{
  color:red;
}